#modal-example.modal-wrapper.modal-wrapper--example(data-modal)
	.modal
		.modal__wrap
			.modal__header Test modal title

			.modal__body
				.modal__content
					p.modal__text Lorem ipsum dolor sit amet consectetur.
					p.modal__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, accusamus?
					p.modal__text Lorem ipsum dolor sit.

			.modal__footer
				p.modal__text Test modal footer
