include ../index

doctype html
html(data-theme="light" class=`page page--${title}`)
	head
		include ../layouts/head

		title #{title}
		block head

	body
		.content
			block header
				include ../layouts/header


			main
				block content

			block footer
				include ../layouts/footer

		include ../layouts/modals