@use '../utils/functions' as *;

/* Media */
$breakpoint-hd: rem(1920);
$breakpoint-xl: rem(1440);
$breakpoint-lg: rem(1280);
$breakpoint-md: rem(1024);
$breakpoint-sm: rem(768);
$breakpoint-xs: rem(568);
$breakpoint-xxs-2: rem(375);
$breakpoint-xxs: rem(320);

/* Container */
$container-max-width-native: 108.75rem;
$container-padding-native: 1.25rem;
$container-padding-mobile-native: rem(16);
$container-max-width: calc(
  #{$container-max-width-native} + (2 * #{$container-padding-native})
);
$container-padding: 0 $container-padding-native;

/* Section */
$section-padding: 5.5rem 0;
$section-padding-tablet: 3rem 0;
$section-padding-phone: rem(24) 0;

/* Fonts */
// paths
$fonts-path: '../fonts/';
$font-path: $fonts-path + 'Roboto/';

// fonts
$font: 'Roboto';
$font-fallback: 'Arial';

$main-font: $font, $font-fallback;

/* Global */
$transition-duration: 0.2s;
$transition-timing-function: ease;
$border-radius: rem(4);
$primary-shadow: 0 0 rem(20) rgb(var(--black-rgb), 0.25);
$primary-shadow-2: 0 0 rem(12) rgb(var(--black-rgb), 0.1);

/* Typography */
// h1
$h1-font: $main-font;
$h1-font-size: 1.875rem;
$h1-font-size-sm: 1.875rem;
$h1-font-weight: bold;
$h1-line-height: 1.3;
$h1-line-height-sm: 1.3;
$h1-color: currentcolor;
$h1-margin: 0 0 1.75rem;

// h2
$h2-font: $main-font;
$h2-font-size: 1.875rem;
$h2-font-size-sm: 1.875rem;
$h2-font-weight: bold;
$h2-line-height: 1.3;
$h2-line-height-sm: 1.3;
$h2-color: currentcolor;
$h2-margin: 0 0 1.5rem;

// h3
$h3-font: $main-font;
$h3-font-size: 1.4375rem;
$h3-font-size-sm: 1.4375rem;
$h3-font-weight: bold;
$h3-line-height: 1.3;
$h3-line-height-sm: 1.3;
$h3-color: currentcolor;
$h3-margin: 0 0 1.25rem;

// h4
$h4-font: $main-font;
$h4-font-size: 1.25rem;
$h4-font-size-sm: 1.25rem;
$h4-font-weight: bold;
$h4-line-height: 1.3;
$h4-line-height-sm: 1.3;
$h4-color: currentcolor;
$h4-margin: 0 0 1rem;

// h5
$h5-font: $main-font;
$h5-font-size: 1.125rem;
$h5-font-size-sm: 1.125rem;
$h5-font-weight: bold;
$h5-line-height: 1.3;
$h5-line-height-sm: 1.3;
$h5-color: currentcolor;
$h5-margin: 0 0 0.75rem;

// h6
$h6-font: $main-font;
$h6-font-size: 1rem;
$h6-font-size-sm: 1rem;
$h6-font-weight: bold;
$h6-line-height: 1.3;
$h6-line-height-sm: 1.3;
$h6-color: currentcolor;
$h6-margin: 0 0 0.5rem;

/* UI */
// button
$button-font-family: $main-font;
$button-font-size: rem(14);
$button-font-weight: 500;
$button-line-height: rem(20);
$button-text-transform: none;
$button-border-width: rem(1);
$button-border-radius: $border-radius;
$button-padding: rem(9) rem(23);
$button-padding-sm: rem(9) rem(23);
$button-min-width: auto;
$button-margin: rem(5);
$button-box-shadow: none;

$button-small-font-size: rem(10);
$button-small-font-weight: 500;
$button-small-line-height: rem(16);
$button-small-padding: rem(7) rem(19);
$button-small-min-width: auto;

$button-middle-font-size: rem(16);
$button-middle-font-weight: 500;
$button-middle-line-height: rem(24);
$button-middle-padding: rem(11) rem(27);
$button-middle-min-width: auto;

$button-big-font-size: rem(16);
$button-big-font-weight: 500;
$button-big-line-height: rem(24);
$button-big-padding: rem(15) rem(31);
$button-big-min-width: auto;

$button-large-font-size: rem(18);
$button-large-font-weight: 500;
$button-large-line-height: rem(28);
$button-large-padding: rem(17) rem(39);
$button-large-min-width: auto;

// input
$input-font-family: $main-font;
$input-font-size: rem(14);
$input-font-weight: normal;
$input-line-height: rem(20);
$input-border-width: rem(1);
$input-border-radius: $border-radius;
$input-padding: rem(9) rem(12);
$input-padding-sm: rem(9) rem(12);
$input-margin: rem(5);
$input-box-shadow: none;

// textarea
$textarea-padding: rem(9) rem(12);
$textarea-padding-sm: rem(9) rem(12);
$textarea-height: auto;
$textarea-margin: rem(5);

// checkbox
$checkbox-font: $main-font;
$checkbox-font-size: 0.875rem;
$checkbox-font-weight: normal;
$checkbox-line-height: 1.4286;
$checkbox-border-width: rem(1);
$checkbox-border-radius: rem(2);
$checkbox-size: rem(20);
$checkbox-icon-size: rem(16);
$checkbox-margin: rem(5) 0;
$checkbox-custom-margin: 0 rem(6) 0 0;

// radio
$radio-font: $main-font;
$radio-font-size: 0.875rem;
$radio-font-weight: normal;
$radio-line-height: 1.4286;
$radio-size: rem(20);
$radio-icon-size: rem(8);
$radio-border-radius: 50%;
$radio-margin: rem(5) 0;
$radio-custom-margin: 0 rem(6) 0 0;
